{# extend main layout #}
{% extends "layout.html" %}

{# override title block #}
{% block title %}Product Form: Update{% endblock %}

{# override header block and use contents from title block #}
{% block header %}
<h1>{{ block('title') }}</h1>
{% endblock %}

{# product-view: page 1/2 #}

{# override content block #}
{% block content %}
<form action="{{url_for('product-update',{id:data.id})}}" method="post">
    <div class="input-item">
        <label class="text-primary" for="name">Name: </label>
        <input id="name" name="name" value="{{data.name}}" type="text">
    </div>

    <div class="input-item">
        <label class="text-primary" for="category">Category: </label>
        <select name="id_category" id="category">
            {% for category in categoryList %}
            <option {% if category.id == data.id_category %} {{"selected"}}  {% endif %} value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-item">
        <label class="text-primary" for="price">Price: </label>
        <input class="number" value="{{data.price}}" name="price" id="price" type="text">
    </div>

    <div class="input-item">
        <label class="text-primary" for="quantity">Quantity: </label>
        <input class="number" value="{{data.qty}}" name="qty" id="quantity" type="text">
    </div>

    <div class="action-bar">
        <button type="submit" class="button primary">Save</button>
        <button class="button">Cancel</button>
    </div>
</form>
{% endblock %}

{# product-view: page 2/2 #}