{# extend main layout #}
{% extends "layout.html" %}

{# override title block #}
{% block title %}Product View{% endblock %}

{# override header block and use contents from title block #}
{% block header %}
<h1>{{ block('title') }}</h1>
{% endblock %}

{# product-view: page 1/2 #}

{# override content block #}
{% block content %}
{% if data is empty %}
<p>Product not found!!!</p>
{% else %}
<div class="action-bar">
    <div class="action-bar">
        <a class="text-positive" href="{{ url_for('product-update-form',{id: data.id}) }}">Update Product</a>
        <a class="text-negative" href="{{ url_for('product-list') }}">Delete Product</a>
    </div>

    <a href="{{ url_for('product-list') }}">Back</a>

</div>
<table>
    <tr>
        <td class="text-primary">Name</td>
        <td class="detail">{{data.name}}</td>
    </tr>
    <tr>
        <td class="text-primary">Category</td>
        <td class="detail">{{data.category_name}}</td>
    </tr>
    <tr>
        <td class="text-primary">Price</td>
        <td class="detail">{{data.price}}</td>
    </tr>
    <tr>
        <td class="text-primary">Quantity</td>
        <td class="detail">{{data.qty}}</td>
    </tr>
</table>
{% endif %}
{% endblock %}

{# product-view: page 2/2 #}